{% load static %}
<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
		<link rel="shortcut icon" type="imagex/png" href='/static/images/logo-casacor.png'> 
        <title>Sorteio CasaCor 2023</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      </head>
<body>

	<!-- 
    <div class="container">
        <div class="row">
          <div class="col-md-16">
            <h1>Sorteio CasaCor 2023</h1>
            <table class="table">
            <tbody>
			<tr>
				<td onclick="selecionarNumero(this)">1</td>
				<td onclick="selecionarNumero(this)">2</td>
				<td onclick="selecionarNumero(this)">3</td>
				<td onclick="selecionarNumero(this)">4</td>
				<td onclick="selecionarNumero(this)">5</td>
				<td onclick="selecionarNumero(this)">6</td>
				<td onclick="selecionarNumero(this)">7</td>
				<td onclick="selecionarNumero(this)">8</td>
				<td onclick="selecionarNumero(this)">9</td>
				<td onclick="selecionarNumero(this)">10</td>
			</tr>
			<tr>
				<td onclick="selecionarNumero(this)">11</td>
				<td onclick="selecionarNumero(this)">12</td>
				<td onclick="selecionarNumero(this)">13</td>
				<td onclick="selecionarNumero(this)">14</td>
				<td onclick="selecionarNumero(this)">15</td>
				<td onclick="selecionarNumero(this)">16</td>
				<td onclick="selecionarNumero(this)">17</td>
				<td onclick="selecionarNumero(this)">18</td>
				<td onclick="selecionarNumero(this)">19</td>
				<td onclick="selecionarNumero(this)">20</td>
			</tr>
            <tr>
				<td onclick="selecionarNumero(this)">21</td>
				<td onclick="selecionarNumero(this)">22</td>
				<td onclick="selecionarNumero(this)">23</td>
				<td onclick="selecionarNumero(this)">24</td>
				<td onclick="selecionarNumero(this)">25</td>
				<td onclick="selecionarNumero(this)">26</td>
				<td onclick="selecionarNumero(this)">27</td>
				<td onclick="selecionarNumero(this)">28</td>
				<td onclick="selecionarNumero(this)">29</td>
				<td onclick="selecionarNumero(this)">30</td>
			</tr>
			<tr>
				<td onclick="selecionarNumero(this)">31</td>
				<td onclick="selecionarNumero(this)">32</td>
				<td onclick="selecionarNumero(this)">33</td>
				<td onclick="selecionarNumero(this)">34</td>
				<td onclick="selecionarNumero(this)">35</td>
				<td onclick="selecionarNumero(this)">36</td>
				<td onclick="selecionarNumero(this)">37</td>
				<td onclick="selecionarNumero(this)">38</td>
				<td onclick="selecionarNumero(this)">39</td>
				<td onclick="selecionarNumero(this)">40</td>
			</tr>
            <tr>
				<td onclick="selecionarNumero(this)">41</td>
				<td onclick="selecionarNumero(this)">42</td>
				<td onclick="selecionarNumero(this)">43</td>
				<td onclick="selecionarNumero(this)">44</td>
				<td onclick="selecionarNumero(this)">45</td>
				<td onclick="selecionarNumero(this)">46</td>
				<td onclick="selecionarNumero(this)">47</td>
				<td onclick="selecionarNumero(this)">48</td>
				<td onclick="selecionarNumero(this)">49</td>
				<td onclick="selecionarNumero(this)">50</td>
			</tr>
			<tr>
				<td onclick="selecionarNumero(this)">51</td>
				<td onclick="selecionarNumero(this)">52</td>
				<td onclick="selecionarNumero(this)">53</td>
				<td onclick="selecionarNumero(this)">54</td>
				<td onclick="selecionarNumero(this)">55</td>
				<td onclick="selecionarNumero(this)">56</td>
				<td onclick="selecionarNumero(this)">57</td>
				<td onclick="selecionarNumero(this)">58</td>
				<td onclick="selecionarNumero(this)">59</td>
				<td onclick="selecionarNumero(this)">60</td>
			</tr>
            <tr>
				<td onclick="selecionarNumero(this)">61</td>
				<td onclick="selecionarNumero(this)">62</td>
				<td onclick="selecionarNumero(this)">63</td>
				<td onclick="selecionarNumero(this)">64</td>
				<td onclick="selecionarNumero(this)">65</td>
				<td onclick="selecionarNumero(this)">66</td>
				<td onclick="selecionarNumero(this)">67</td>
				<td onclick="selecionarNumero(this)">68</td>
				<td onclick="selecionarNumero(this)">69</td>
				<td onclick="selecionarNumero(this)">70</td>
			</tr>
			<tr>
				<td onclick="selecionarNumero(this)">71</td>
				<td onclick="selecionarNumero(this)">72</td>
				<td onclick="selecionarNumero(this)">73</td>
				<td onclick="selecionarNumero(this)">74</td>
				<td onclick="selecionarNumero(this)">75</td>
				<td onclick="selecionarNumero(this)">76</td>
				<td onclick="selecionarNumero(this)">77</td>
				<td onclick="selecionarNumero(this)">78</td>
				<td onclick="selecionarNumero(this)">79</td>
				<td onclick="selecionarNumero(this)">80</td>
			</tr>
            <tr>
				<td onclick="selecionarNumero(this)">81</td>
				<td onclick="selecionarNumero(this)">82</td>
				<td onclick="selecionarNumero(this)">83</td>
				<td onclick="selecionarNumero(this)">84</td>
				<td onclick="selecionarNumero(this)">85</td>
				<td onclick="selecionarNumero(this)">86</td>
				<td onclick="selecionarNumero(this)">87</td>
				<td onclick="selecionarNumero(this)">88</td>
				<td onclick="selecionarNumero(this)">89</td>
				<td onclick="selecionarNumero(this)">90</td>
			</tr>
			<tr>
				<td onclick="selecionarNumero(this)">91</td>
				<td onclick="selecionarNumero(this)">92</td>
				<td onclick="selecionarNumero(this)">93</td>
				<td onclick="selecionarNumero(this)">94</td>
				<td onclick="selecionarNumero(this)">95</td>
				<td onclick="selecionarNumero(this)">96</td>
				<td onclick="selecionarNumero(this)">97</td>
				<td onclick="selecionarNumero(this)">98</td>
				<td onclick="selecionarNumero(this)">99</td>
				<td onclick="selecionarNumero(this)">100</td>
			</tr>
        </tbody>
	</table> 
    </div>
  </div>
-->


<div class="container">
		<div class="row">
		<div class="col-md-16">
			<h1>Sorteio CasaCor 2023</h1>
			<table class="table">
				<tbody>
				<tr>
					{% for numero in numeros %}
					{% if numero.pago %}
						<td class="pago" disabled>{{ numero.numero }}</td>
					{% elif numero.pendente %}
						<td class="pendente" disabled>{{ numero.numero }}</td>
					{% else %}
						<td onclick="selecionarNumero(this)">{{ numero.numero }}</td>
					{% endif %}
					{% if forloop.counter|divisibleby:10 %}
						</tr><tr>
					{% endif %}
					{% endfor %}
				</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="container formulario">
		<div class="form">
		<form method="post" action="{% url 'matriz' %}">
			{% csrf_token %}
			<div class="form-group">
			  <label for="nome">Nome:</label>
			  <input type="text" id="nome" name="nome" required>
			</div>
			<div class="form-group" style="display: none;">
                <label for="numero">Números Selecionados:</label>
                <input type="text" id="numeros_selecionados" name="numero" readonly>
            </div>
			<h6 class="text-center">*O seu número ficará amarelo <br> até a confirmação do pagamento</h6>
			<button type="submit" class="btn btn-primary">Enviar</button>
		</form>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-22">
				<h6 class="text-center">Cada número tem o valor de R$20,00 reais</h6>
				<div class="col-md-6 offset-md-2">
					<img src="static\images\qrcode.jpeg" width=200 height=200 alt="Imagem do sorteio">
				</div>
				<div class="col-md-22">
					<h6 class="text-center">pix: (62)9 8295-7089</h6>
				</div>
			</div>
		</div>
	</div>
	 
</div>
		


<!-- 
	<table class="table">
    <tbody>
        <tr>
            {% for numero in numeros %}
                <td {% if numero.pago %}class="pago" disabled{% endif %} onclick="selecionarNumero(this)">
                    {% if numero.pago %}
                        <span class="pago">{{ numero.numero }}</span>
                    {% else %}
                        <span>{{ numero.numero }}</span>
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    </tbody>
</table> 
-->


	
<!-- 
        <form method="GET" action="{% url 'proxima_pagina' %}" onclick="return verificarSelecao();">
            {% csrf_token %}
			{{ form.as_p }}
			<input type="hidden" name="numero" required>
			<label for="name">Seu nome:</label>
			<input type="text" id="name" name="name" required>
			<button type="submit">Selecionar</button>
        </form>
    </div>
    <div class="matriz">
        {% for numero in numeros %}
		{{ form.as_hidden }}
		<input type="hidden" name="numero" value="{{ numero_selecionado }}">

        <div class="celula{% if numero in numeros_selecionados %} selecionado{% endif %}" data-numero="{{ numero }}">{{ numero }}</div>
        {% endfor %}
    </div>
	</div>
	--> 
	
	<style>
		.numero {
		  display: inline-block;
		  border: 1px solid black;
		  padding: 10px;
		  margin: 10px;
		  cursor: pointer;
		}
	  
		.clicked {
		  background-color: red;
		}
	  
		.blocked {
		  opacity: 0.5;
		  cursor: not-allowed;
		}
		.pago {
			background-color: red;
		  }
		.disponivel {
			background-color: green;
		  }
		.pendente {
			background-color: yellow;
		}
		.text-center {
			text-align: center;
		}
		.formulario {
			margin-bottom: 50px;
		}
			
	  </style>
	  
	  <script type="text/javascript">
		var numerosSelecionados = [];
		var numerosBloqueados = document.querySelectorAll('.blocked');
		numerosBloqueados.forEach(function(numero) {
		  numero.classList.add('blocked');
		});
	  
		function selecionarNumero(numero, numeroSelecionado = null) {	
		  if (numero.classList.contains('blocked')) {
			return;
		  }
		  if (numero.classList.contains('clicked')) {
			numero.classList.remove('clicked');
			var index = numerosSelecionados.indexOf(numero.innerText);
			if (index !== -1) {
			  numerosSelecionados.splice(index, 1);
			}
			numero.style.backgroundColor = ''; // remove o fundo Verde
		  } else {
			numero.classList.add('clicked');
			numerosSelecionados.push(numero.innerText);
			if (numeroSelecionado === "true") {
				numero.style.backgroundColor = 'red';
			} else {
				numero.style.backgroundColor = 'green';
			}		 
		 }
		  document.getElementById('numeros_selecionados').value = numerosSelecionados.join(',');
		}
	  
		  
		
		
			
	
		function verificarSelecao() {
			var numerosSelecionados = document.querySelectorAll(".clicked");
			if (numerosSelecionados.length === 0) {
				alert("Por favor, selecione pelo menos um número.");
				return false;
			}
			return true;
		}
		
	</script>

  <script src="{% static 'js/script.js' %}"></script>	  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

</body>
</html>
